body{           
    background-image: url("component/background_image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    position: fixed;
    /* overflow: scroll; */
}
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
a{
    font-style: none;
    color: blue;
    text-decoration: none;
}
select{
    text-align: center;
    text-align-last: center;
}
option{
    text-align: right;
}
.outer{
    padding-top: 24px;
    padding-bottom: 24px;
}
.midle-content{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}
.pointer{
    cursor: pointer;
}
.zoom-in{
    cursor: zoom-in;
}
.zoom-out{
    cursor: zoom-out;
}
.h-element{
    margin: 0;
}
.no-margin{
    margin: 0;
}
.flex-all{
    display: flex;
}
.vertical-line{    
    width: 2px;    
    margin-left: 16px;
    margin-right: 16px;
    background-color: grey;
}
.mercy-logo{
    width: 32px;
    height: 32px;
    margin: 0;
}
.left{
    float: left;
}
.right{
    float: right;
}
.non-visible{
    display: none;
}
.space-horizontal{
    width: 100%;
    padding: 4px;
}
.space-vertical{
    padding: 4px;
}
.show{
    display: block;
}
.first-child-radius{
    border-radius: 2px 0 0 2px;
}
.last-child-radius{
    border-radius: 0 2px 2px 0;
}
.loading{
    width: 400px;
    padding: 2px;
    background-color: teal;
    border-radius: 8px;
}
.back-button{
    background-color:transparent;
    border: 0;
    border-radius: 8px;
    color: teal;
    padding: 4px;
    outline: none;
}
.empty-alert{
    text-align: center;
    padding: 8px;
}
.image{
    width: 100%;
}
.layout-image-1{
    padding-left:0px;
    padding-right:0px;
}
.rounded-button{
    width: 100%;
    height: 100%;
    /* padding: 4%; */
    border-radius: 8px;
    border: none;
    background-color: teal;
    color: white;
    outline: none;
}

/* ============================= scroll ============================= */
.scroll-to-top{
    text-align: center;    
    transform: rotate(270deg);
    position: fixed;
    width: 40px;
    height: 40px;
    padding:8px;
    border-radius: 50%;
    z-index: 99;
    right: 30px;
    bottom: 20px;
    display: none;
    font-size: 18px;
    font-weight: bolder;
    border: none;
    outline: none;
    color: white;
    background-color: teal;
}

.scroll-to-top:hover{
    box-shadow: 0 0 4px 6px rgb(146, 253, 253);
}

/* ============================= home ============================= */

.title-home{
    font-size: 4rem;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 2%;
}
.after-title{
    text-align:center; 
    width: 40%;
}
.home-navbar{
    background-color: transparent;
    border: 2px solid black;
    border-radius: 6px;
    padding: 8px;
    width: 140px;
    margin: 20px;
}

/* ============================= border ============================= */

.border-horizontal-1{
    background-color: grey;
    padding: 1px;
    width: 100%;
}
.border-vertical-1{
    background-color: grey;
    width: 2px;    
}

/* ============================= centering-content ============================= */

.first-section-center{
    padding-left: 8%;
    padding-right: 8%;
}
.seccond-section-center{
    padding-left: 2%;
    padding-right: 2%;
}
.third-section-center{
    padding: 4%;
}
.custom-section-center{
    padding-left: 4%;
    padding-top: 2%;
    padding-right: 4%;
    padding-bottom: 4%;
}

/* ============================= header ============================= */

.main-header{
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 99;
    /* box-shadow: 0 0.5px 6px 1px rgb(0, 95, 95); */
}
.outer-header{
    /* position: relative; */
    width: 100%;
    background-color: teal;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    /* z-index: 1; */
}
.menu-button{
    /* flex: 1 1 auto; */
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;    
    color: rgb(201, 228, 228);
    background-color: transparent;
    /* background-image: linear-gradient(to left, teal 30%, white 100%, teal 100%); */
    /* width: 70px; */
    outline: none;
}
.menu-button-on{
    /* flex: 1 1 auto; */
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;    
    color: white;
    background-color: transparent; 
    border-bottom: 2px solid white;   
    outline: none;
}
.menu-button:hover{
    /* background-color: white; */
    color: white;
    transition: color 0.5s ease; 
}
.button-menu-box{
    margin-left: 8px;
    margin-right: 8px;
}
.icon-header{
    margin-right: 40px;
}

/* ============================= header ============================= */

.prev-button-1, .next-button-1{
    cursor: pointer;
    position: absolute;    
    width: 40px;
    text-align: center;
    margin-top: -27.5px;
    background: rgba(139, 84, 0, 0.5);
    /* padding: 2px; */
    padding-top: 2px;
    padding-bottom: 2px;

    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 2px 0 0 2px;
    user-select: none;
}
.next-button-1{
    right: 0;        
    border-radius: 0 2px 2px 0;
}

/* ====================strip-menu==================== */

.body-strip-menu{
    padding-top: 4px;
    padding-bottom: 4px;
}
.triple-strip-menu{
    width: 72px;
    height: auto;    
}
.strip-menu{
    width: 32px;
    height: 6px;
    background-color: rgb(185, 221, 221);
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 2px;
    transition: background-color 0.4s ease;
}
.strip-menu-on{
    width: 32px;
    height: 6px;
    background-color: white;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 2px;
    transition: background-color 0.4s ease;
}
.body-menu{
    padding: 16px;
    border-radius: 2px;
    background-color: white;
    color: black;
    text-align: center;
}
.box-menu{
    margin-top: 4px;
    margin-bottom: 4px;
}
.box-menu-username{
    margin-top: 4px;
    margin-bottom: 12px;
}
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    /* box-shadow: 0px 0px 4px 2px rgba(152,148,219, 0.5);      */
    border-bottom: 8px solid white;
}
.button-menu{
    border: none;    
    background-color: transparent;
    padding-bottom: 8px;
    width: 100%;
    outline: none;
}
.button-menu:hover{
    border-bottom: 2px solid black;
}
.content-menu{
    position: absolute;
    display: none;
}
.modal-signout{
    display: none;
}
.body-modal-transparent{
    top: 0;
    left: 0;
    bottom: 0;
    background-color:  rgba(152,148,219, 0.3);
    transition: background-color 0.8s ease; 
    width: 100%;
    height: 100%;
    position: fixed;
    padding-top: 14%;
}
.body-modal-signout{
    height: auto;
    border-radius: 8px;
    padding: 26px;
    box-shadow: 0px 0px 4px 2px rgba(152,148,219, 0.5);
    background-color: white;
}
.signout-box-button{
    padding: 4px;
}
.signout-button{
    padding: 8px;
    outline: none;
    border: 1px solid teal;
    border-radius: 4px;
    font-family: montserrat;
    background-color: teal;
    color: white;
    
}
.body-modal-transparent-hover{ 
    top: 0;
    left: 0;
    bottom: 0;   
    background-color: rgb(47, 68, 68, 0.7);
    transition: background-color 0.8s ease; 
    width: 100%;
    height: 100%;
    position: fixed;
    padding-top: 14%;   
}
.cancel-signout-button{
    padding: 8px;
    outline: none;
    border: 1px solid black;
    border-radius: 4px;
    font-family: montserrat;
    background-color: black;
    color: white;
}
/* ============================= Content ============================= */

.custom-body-content{
    border-radius: 8px;
    padding: 4px;
    background: rgba(255, 255, 255, 0.97);
}
.body-new{
    padding-top: 4%;
    padding-bottom: 4%;    
}
.new-body{
    width: 100%;
    height: 100%;    
    overflow-y: scroll;
    scroll-behavior: smooth;
    /* background-color: rgba(41, 41, 41, 0.5); */
    z-index : -1;
    position: relative;
}

/* ============================= form-box ============================= */
.form-box-login{
    padding: 16px;
    background: linear-gradient(225.56deg, rgba(255, 255, 255, 0.45) 30.73%, 
    rgba(255, 255, 255, 0) 99.97%), rgba(210, 210, 210, 0.93);
    border-radius: 8px;
    text-align: center;
}
.form-box-top-caption{
    margin-bottom: 32px;
}
.form-box-1{
    margin-top: 8px;
    margin-bottom: 8px;
}
.form-box-button-1{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
}

.form-input-1{
    border: none;
    outline: none;
    border-radius: 16px;
    padding: 8px;
    text-align: center;
}
.form-input-2{
    border: none;
    outline: none;
    border-radius: 16px;
    padding: 8px;
    text-align: center;
    box-shadow: 0px 0px 4px 0.2px rgb(221, 221, 221);
}
.form-input-3{
    border: none;
    outline: none;
    width: 100%;
    border-radius: 16px;    
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    box-shadow: 0px 0px 4px 0.2px rgb(221, 221, 221);
}
.form-input-3:focus{      
    box-shadow: 0px 0px 4px 0.2px teal;
    transition: box-shadow 0.4s ease;
}
.form-button-1{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 16px;
    padding: 8px;
    text-align: center;
}
.form-button-2{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
}
.form-button-2:focus{
    background-color: black;
    color: white;
    transition: background-color 0.4s ease;
}
.form-button-2:hover{
    color: teal;
    transition: color 0.4s ease;
}
.form-button-3{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
}
.form-button-3-on{
    width: 100%;
    background-color: rgb(0, 128, 128);
    border: none;
    outline: none;
    border-radius: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
}
.form-button-3:hover{
    background-color: rgb(0, 128, 128, 0.5);
    color: white;
    transition: background-color 0.4s ease;
}
.custom-select-input{
    appearance: none;
    background-position: 
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .5em) .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.custom-select-input::-ms-expand{
    display: none;
}
input[type=number]{
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

/* ============================= layout-menu ============================= */
.button-layout-menu{
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.97);
    padding: 4px;
    color: black;
}
.button-layout-menu-on{
    width: 100%;
    text-align: center;
    /* background-color: rgb(255, 255, 255, 0.97); */
    background-color: rgb(0, 128, 128, 0.8);
    /* border-bottom: 4px solid teal; */
    padding: 4px;
    color: white;
}

.searchlayout{
    border-radius: 8px;
    width: 100%;
    /* padding: 4px; */
    background: rgba(255, 255, 255, 0.97);
}
.searchlayout:first-child{
    border-radius: 8px 0 0 8px;
}
.searchlayout:last-child{
    border-radius: 0 8px 8px 0;
}
.body-dom-array-search{
    border-radius: 8px;
    min-height: 40px;    
    max-height: fit-content;    
    margin: 8px;    
    background: rgba(185, 185, 185, 0.4);
}
.model-dom-array-search{
    width: 84%;
    max-height: 40px;    
    min-height: fit-content; 
    margin: 3%;
}
.capacity-dom-array-search{
    width: 60px;    
    margin: 4%;    
}
.searchModel{
    border-radius: 8px;
    text-align: center;
    margin-left: 2px;    
    max-width: fit-content;
    min-height: 20px;
    /* max-height: 20px; */
    max-height: fit-content;
    /* width: 80px;
    height: 16px; */
    margin-right: 2px;
    padding: 4px;
    /* padding-top: 7px; */
    /* padding-left: 8px;
    padding-right: 8px; */
    color: wheat;
    background-color: teal;
}
.delSearchBut{
    height: 20px;
    width: 20px;
    font-family: montserratBold;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 1px;
    padding-top: 0px;
    border-radius: 50%;
    background-color: black;
    color: teal;
    border: none;
    outline: none;
}
.delSearchBut:active{
    background-color: rgb(175, 56, 56);
    color: white;
}

.searched-layout-box{
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 100%;
    /* height: 200px; */
    background: rgba(255, 255, 255, 0.97);
    /* background-color: teal; */
}
.searched-layout-box:hover{
    box-shadow: 0 0 8px 4px teal;
}
.box-info-layout-trimline{
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background: rgb(255,252,222);
    background: linear-gradient(90deg, rgb(255, 250, 197 ) 40%,  rgba(0,128,128,0.74) 100%);
    border: 0.2px solid black;
}
.box-info-layout-mechline{
    width: 16px;
    height: 16px;    
    border-radius: 4px;
    background: rgb(255,252,222);
    background: linear-gradient(90deg, rgb(0,128,128,0.74) 40%,  rgba(128, 51, 0, 0.74) 100%); 
    border: 0.2px solid black;
}
.box-info-layout-final-mech{
    width: 16px;
    height: 16px;    
    border-radius: 4px;
    background: rgb(255,252,222);
    background: linear-gradient(90deg, rgb(128, 51, 0, 0.74) 40%,  rgb(168, 101, 151) 100%); 
    border: 0.2px solid black;
}
.layout-box-layout{
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;    
    padding: 8px;
    text-align: center;    
    /* border: 2px solid rgb(0,128,128,0.74);   */
    /* position: relative;   */
    /* margin-top: -100px; */
}
.layout-box-trimline{
    background: rgb(255,252,222);
    background: linear-gradient(90deg, rgb(255, 250, 197 ) 40%,  rgba(0,128,128,0.74) 100%);
}
.layout-box-mechline{    
    background: rgb(255,252,222);
    background: linear-gradient(90deg, rgb(0,128,128,0.74) 40%,  rgba(128, 51, 0, 0.74) 100%);    
}

.layout-box-layout-hover{
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    background: rgb(255,252,222);
    background: linear-gradient(90deg, rgb(0,128,128,0.74) 0%,  rgba(255, 250, 197) 100%);
    border: 2px solid rgb(0,128,128,0.74);
}
.layout-box-layout-6jph-mech{
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    /* width: 100%;
    height: 70px; */
    padding: 8px;
    text-align: center;
    background: rgb(255,252,222);
    background: linear-gradient(90deg, rgb(128, 51, 0, 0.74) 40%,  rgb(168, 101, 151) 100%); 
    /* border: 2px solid rgb(0,128,128,0.74); */
}
.layout-box{
    width: 100%;
    border-radius: 8px;
}
.layout-box-6jph{
    width: 50%;
}

/* ============================= information layout ============================= */

.body-information-layout-concept{
    padding-left: 4%;
    padding-right: 4%;
}
.trim_and_mech_2d_3d_image{
    width: 100%;
    /* display: none; */
}
.nextbtninfo, .prevbtninfo{
    padding-top: 14px;
    border-radius: 4px 0 0 4px ;
    color: white;
    width: 20px;
    height: 40px;
    background-color: rgba(62, 73, 73, 0.438);
    margin-top: 10%;
}
.nextbtninfo{
    border-radius: 0 4px 4px 0;
}
.navbar-position{
    /* padding-top: 80px; */
    /* height: 100%; */
    /* padding:2px; */
    padding-bottom:10%;    
}
.rounded-corousel{
    background-color: rgba(62, 73, 73, 0.438);
    width: 40px;
    border-radius: 2px;
    padding: 2px;
}
.active-rounded{
    background-color: teal;
    color: white;
}
.body-modal-transparent-1{
    top: 0;
    left: 0;
    bottom: 0;
    background-color:  rgba(152,148,219, 0.3);
    transition: background-color 0.8s ease; 
    width: 100%;
    height: 100%;
    position: fixed;    
    padding-top: 2%;    
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.modal-body-image{
    border-radius: 16px;    
    background-color: white;
    padding: 2%;    
}
.modal-zoom{
    display: none;
    z-index: 100;
    position: fixed;
}
.zoomed-image{
    
    width: 100%;
}

.select-input{
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
}
/* ============================= library ============================= */

.upload-layout-form-body{
    border-radius: 8px;
    width: 28%;
    /* padding: 4px; */
    background: rgba(255, 255, 255, 0.97);
}
.general-library-body{
    border-radius: 8px;
    width: 100%;
    /* padding: 4px; */
    background: rgba(255, 255, 255, 0.97);
    /* background-color: rgb(231, 96, 96); */
}
.form-create-user-body{
    width: 360px;
    /* background-color: red; */
    text-align: center;
}
.step-upload{
    display: none;
}


/* ============================= useful data ============================= */

.useful-data-navbar-body{
    width: 100%;
    padding: 4px;
    background: rgba(255, 255, 255, 0.97);
    text-align: center;
}
.useful-data-navbar-body:first-child{
    border-radius: 2px 0 0 2px;
}
.useful-data-navbar-body:last-child{
    border-radius: 0 2px 2px 0;
}
/* .navbar-useful-data{ */
    /* display: none; */
/* } */
.body-useful-data-navbar{
    position: relative;
    /* z-index: -1; */
}
.image-info{
    width: 100%;
    background-color: rgb(202, 212, 221);   
    z-index: -2; 
}
.layout-example{
    height: 30px;
}
.layout-example-2{
    height: 30px;
}
.layout-box-example{
    height: auto;  
    background-color: rgba(34, 41, 41, 0.308);
    border-radius: 8px;
    padding-left:8px; 
    padding-right:8px;    
}
.custom-padding-1{
    padding-top: 28px;
}
.custom-padding-2{
    padding-top: 0px;
}


/* .behind{
    z-index : -1;
    position: relative;
} */
/* ============================= corousel ============================= */

.body-corousel-1{
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 4px 2px grey;
}
.eol_image_corousel{
    width: 100%;
}
.rounded{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: wheat;
}
.active-1{
    background-color: teal;
    color: white;
}
.active-round{
    background-color: teal;
}

.rounded:hover{    
    transition: background-color ease 0.5s;
    background-color: rgb(0, 128, 128, 0.5);
}

/* ============================= font-style ============================= */

.font-style-montserrat-light{
    font-family: montserrat;
}
.font-style-montserrat-semi-bold{
    font-family: montserratSemiBold;
}
.font-style-montserrat-bold{
    font-family: montserratBold;
}
.font-style-mercy{
    font-family: mercyText;
}

@font-face{
    font-family: montserrat;
    src: url(component/font_component/Montserrat-Light.ttf);
}
@font-face{
    font-family: montserratSemiBold;
    src: url(component/font_component/Montserrat-SemiBold.ttf);
}
@font-face{
    font-family: montserratBold;
    src: url(component/font_component/Montserrat-Bold.ttf);
}
@font-face{
    font-family: mercyText;
    src: url(component/font_component/Corporate\ A\ Light.ttf);
}

.font-size-small{
    font-size: small;
}
.font-size-medium{
    font-size: medium;
}
.font-size-large{
    font-size: large;
}

/* ============================= cunstom line ============================= */

.line-horzontal-1{
    padding:4px;
    /* width: 100%; */
    background-color: teal;
    margin-top: 8px;
    margin-bottom: 8px;
}
.line-horzontal-2{
    padding:3px;
    /* width: 100%; */
    background-color: rgb(52, 158, 158);
    margin-top: 8px;
    margin-bottom: 8px;
}
.line-horzontal-3{
    padding:2px;
    /* width: 100%; */
    background-color: rgb(144, 204, 204);
    margin-top: 8px;
    margin-bottom: 8px;
}
.line-horzontal-4{
    padding:1px;
    /* width: 100%; */
    background-color:  rgb(215, 236, 236);
    margin-top: 8px;
    margin-bottom: 8px;
}

/* ============================= fade ============================= */

.fade-in-1 {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }


/* for tablets */
@media only screen and (min-width: 600px){
    
    
}

.fade-out-1 {
    animation: fadeOut ease 1s;
    -webkit-animation: fadeOut ease 1s;
    -moz-animation: fadeOut ease 1s;
    -o-animation: fadeOut ease 1s;
    -ms-animation: fadeOut ease 1s;
}
@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-moz-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-webkit-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-o-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
    }


/* for tablets */
@media only screen and (min-width: 600px){
    
    
}

/* for dekstop */
@media only screen and (min-width: 768px){
    .flex{
        display: flex;
    }
}